.wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 240px;
    box-sizing: border-box;

  }
  
.nagoyameshi-logo {
    height: 75px;

  }

.bg-light {
  background-color: rgb(0 0 0 / 60%);
}

.app-name {
  font-family: 'Carter One', cursive;
  font-size: 24px;
  color: #191919;
  }

footer {
  width: 100%;
  height: 240px;
  position: absolute;
  bottom: 0;
  padding: 50px 15px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-link {
  margin-bottom: 30px;
}
  
.users-table {
  word-break: break-all;
}

.terms h2 {
  font-size: 1.125rem;
}

h1 {
  font-size: 1.5rem;
  }
h2 {
  font-size: 1.375rem;
    }
h3 {
  font-size: 1.125rem;
    }

.admin-search-box {
  max-width: 240px;
}

.user-search-box {
  max-width: 300px;
}

a {
  text-decoration: none !important;
}

.vertical-card-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.horizontal-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.swiper {
  width: 100%;
  /* height: 480px; */
  height: 90vh;
  
}

.swiper img {
  width: 100%;
  /* height: 480px; */
  height: 90vh;
  object-fit: cover;
} 


.overlay-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}


.overlay-text {
  padding: 0 70px;
}

.catchphrase-heading {
  font-size: 36px;
  line-height: 1.5;
  font-family: 'Noto Serif JP', serif;
  font-weight: 600;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
}

.catchphrase-paragraph {
  font-size: 16px;
  line-height: 2;
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
  }

.card-link {
    transition: 0.3s;
    /* チラつき対策 */
  
  }
  
.card-link:hover {
  opacity: 0.7;
 
  }

.category-name {
  text-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 60%);
  }
.sort-box {
  width: 170px;
  }

  /*   */
.star-rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
}


.star-rating:before,
.star-rating:after {
  content: '★★★★★';
}

.star-rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #F29F05;
  }

.star-rating[data-rate="5"]:after {
    width: 100%;
    }

.star-rating[data-rate="4.5"]:after {
  width: 90%;
  }
.star-rating[data-rate="4"]:after {
  width: 80%;
  }
.star-rating[data-rate="3.5"]:after {
  width: 70%;
  }
.star-rating[data-rate="3"]:after {
  width: 60%;
  }
.star-rating[data-rate="2.5"]:after {
  width: 50%;
  }  
.star-rating[data-rate="2"]:after {
  width: 40%;
  }
.star-rating[data-rate="1.5"]:after {
  width: 30%;
}  
.star-rating[data-rate="1"]:after {
  width: 20%;
  }
.star-rating[data-rate="0.5"]:after {
  width: 10%;
  }
.star-rating[data-rate="0"]:after {
  width: 0%;
  }
.remove-favorite-button:hover {
  color: white;
}


@media screen and (min-width: 1400px) {
  .nagoyameshi-container {
    max-width: 1200px;
}
}

@media screen and (max-width: 991px) {
  .admin-sidebar {
    display: none;
}
}

.admin-content {
  margin: 0;
  }

/*  */

.flatpickr-weekday:nth-child(7),
.flatpickr-days,
.flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n) {
  color: #0421D9;
}

/*  */
.flatpickr-weekday:nth-child(7n + 1),
.flatpickr-day:not(.flatpickr-disabled):not(.prevMonthDay):not(.nextMonthDay):nth-child(7n + 1) {
  color: #D90421;
}

/*  */
.flatpickr-day.selected {
  background: #D95204 !important;
  border-color: #D95204 !important;
}

/*  */
.card-holder-name,
.card-element {
  border-radius: .375rem;
  padding: 12px;
  border: 1px solid #ced4da;
  height: 44px;
  width: 100%;
  background: white;
}
.card-holder-name {
  font-family: sans-serif;
  outline: none;
}


/* 管理画面用 */

.manage_main {
  width: 70%;
  margin:30px auto;
  
}

.manage_main div:first-child {
  display: flex;
  justify-content: space-between; 
  box-shadow: 0px 10px 15px -8px rgba(0, 0, 0, 0.5);
  background-color: rgb(249, 249, 249);
}

.manage_main .manage_selected {
  color: #020202;
  background-color: #C5A5A5;
}


.manage_main a {
  display: inline-block;
  width: 25%;
  height: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: #191919;   
  padding: 20px 20px;
  
}

.manage_main a:hover {
  opacity: 0.6;

}

.manage_main h1 {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 25px;
}


.manage_list {
  width: 80%;
  margin: 30px auto;
 }
 
 .manage_list tbody tr:hover {
   background-color: #F2C9C9 ;
 }
 
 .manage_list thead {
   border-bottom: 2px solid rgba(0, 0, 0, 0.5);

 }
 
 .manage_list tbody tr {
   border-bottom: 1px solid rgba(0, 0, 0, 0.5);
   height: 3em;
 }

 /* ユーザー */
 .user_update label {
  min-width: 15%;

 }

 .user_update input[name="address"] {
  width: 30%;
 }

 /* カテゴリ- */
.category_update label {
  min-width: 15%;
}

.category_create label{
  min-width: 15%;
}

/* 店舗 */
p:has(.combo-first) {
  display: inline;
}

p:has(.combo-last) {
  display: inline-block;
}

p:has(.combo-last)::before {
  white-space: pre-wrap;
  content: "　　〜　　";
}

.restaurant-combo {
  min-width: 100px;
  text-align: right;
  padding-right: 5px;
}

.restaurant-name {
  width: 300px;
}

.restaurant-address {
  width: 600px;
}

.restaurant-seats {
  width: 70px;
}

.restaurant_update {
  margin: 30px auto;
}

.restaurant_create label {
  min-width: 15%;
}

.restaurant_update label{
  min-width: 15%;

}

.new {
  display: block !important;
  width: 70% !important;
  margin: 0 auto !important;
  color: #0421D9 !important;
}

.sales {
  width: 50%;
  margin: 30px auto;

}

.sales thead {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);

}
  
.sales tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 3em;
}


/* 予算から探す */
.price_search select[name="price_min"] {
  width: 70%;
  height: 40px;
}

.price_search select[name="price_max"] {
  width: 70%;
  height: 40px;
}

.price_search {
  display: flex;
  justify-content: space-between;

}

/* ページ数 */
.paginate {
  display:flex !important;
  justify-content: right !important;
}
  
/* カード価格帯表示 */
.card-price {
  display: flex;
  justify-content: left;
}



