{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block content %}

<main>
  <div class="container nagoyameshi-container pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'top_page' %}">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">お支払い方法</li>
          </ol>
        </nav>
        <h1 class="mb-3 text-center" id="test">お支払い方法</h1>
        <div class="card mb-4">
          <div class="card-header text-center">現在のサブスクリプション情報</div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">カード種類 : {{user.stripe_card_brand}}</li>
            <li class="list-group-item">カード番号 : **** **** **** {{user.stripe_card_last4}}</li>
            <li class="list-group-item">カード有効期限 : {{user.stripe_card_exp_month|stringformat:"02d"}} / {{user.stripe_card_exp_year}}</li>
          </ul>
        </div>
         
        <p class="mb-3 text-left" id="edit">下記変更ボタンを押下し、決済情報変更画面でクレジットカード情報変更後、画面左の”新規ビジネスに戻る”リンクをクリックして下さい</p>
        
        <form id="card-form" method="post" enctype='multipart/form-data'>
          {% csrf_token %}

          <div class="d-flex justify-content-center">
            <button class="btn btn-primary text-white shadow-smw-50" id="card-button">変更</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}