{% extends "layout/base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}

{% block content %}
<main>
  <div class="container nagoyameshi-container pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'top_page' %}">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">有料プラン登録</li>
          </ol>
        </nav>
        <h1 class="mb-3 text-center">有料プラン登録</h1>
          <div class="card mb-4">
            <div class="card-header text-center">有料プランの内容</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">・前日までならいつでも予約可能</li>
              <li class="list-group-item">・店舗をお好きなだけお気に入りに追加可能</li>
              <li class="list-group-item">・レビューを全件閲覧可能</li>
              <li class="list-group-item">・レビューを投稿可能</li>
              <li class="list-group-item">・月額たったの300円</li>
            </ul>
          </div>

          <div class="mb-3 text-center">
            <form action="{% url 'subscribe_register' %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-primary text-white shadow-sm w-50" type="submit">有料プランに申し込む</button>
            </form>
          </div>
        
      </div>
    </div>
  </div>
</main>
{% endblock %}












 