{% extends "management/manage_base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block sub_content %}

  <table class="manage_list">
    <thead>
      <th>カテゴリーID</th>
      <th>カテゴリー名</th>
  
    </thead>
    <tbody>
      {% for category in object_list %}
        <tr onclick="location.href='{% url 'category_update' pk=category.pk %}'">
          <td>{{ category.pk }}</td>
          <td>{{ category.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a class="new" href="{% url 'category_create' %}">カテゴリー新規登録</a><br>
  <div class="paginate">
    {# ページの表示 #}
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }} ページ
     
        {# 前へ #}
        {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; 先頭</a>
          <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
        {% endif %}
      
        {# 次へ #}
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">次へ</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">最後 &raquo;</a>
        {% endif %}
  </div>


{% endblock %}

