{% extends "management/manage_base.html" %}
{% load static %}
{% block title %}NAGOYAMESHI{% endblock %}
{% block sub_content %}

  
    <h1>ユーザー編集</h1>
  
    <form method="post" enctype="multipart/form-data" class="user_update">
        {% csrf_token %}
        {{ form.as_p}}

          <br>
          <a href="{% url 'user_list' %}">戻る</a>

          <input type="submit" class="btn btn-primary" value="更新">

        <button type="button" class="btn btn-danger" onclick="location.href='{% url 'user_list_delete' pk=del_user_id  %}'">削除</button>
    </form>

    {% endblock %}
